<nav class="">
    <a href="{{ path('homepage') }}">Accueil</a> | <a href="{{ path('page') }}">Page 1</a> | <a href="{{ path('page',{'id':2}) }}">Page 2</a>  | <a href="{{ path('page', {'id':3}) }}">Article 3</a> | <a href="{{ path('haha') }}">Haha</a> | <a href="{{ path('contact') }}">Me contacter</a>
</nav>